/*html {*/
    /*background: indianred;*/
/*background-image: -webkit-radial-gradient(-10% 50%, circle, #1B2E41, rgba(255, 255, 255, 0)), -webkit-radial-gradient(50% 50%, circle, rgba(255, 255, 255, 0.63), #57646E), -webkit-radial-gradient(110% 50%, circle, #2B3846, rgba(255, 255, 255, 0));*/
/*background-attachment: fixed;*/
/*background-repeat: no-repeat;*/
/*}*/

#reserveblock{
    max-width: 600px;
}
body {
    background-image: url("food.jpg");
    background-repeat: no-repeat;
    margin-bottom: 0px;
}

